[Desktop Entry]
Exec=ksuperkey
X-DBUS-StartupType=none
Name=ksuperkey
Type=Application
X-KDE-StartupNotify=false
OnlyShowIn=KDE;XFCE;
X-KDE-autostart-phase=2
